a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

.navbar-comp {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 100vw;
    height: 2.5em;    
    padding-top: 1em;    
    padding-bottom: 1em;
}

.menu-item {
    margin-right: 1em;
}

.icon {
    width: 70%;
    height: auto;
    margin-top: 0.3em;
}

.avatar {
    width: 2.5em;
    height: auto;
    border-radius: 100%;
}

.search-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logo {
    padding-top: 12em;  
}

#text-search {
    display: flex;
    margin-top: 1em;
    width: 40em;
    height: 2.5em;
    border-radius: 5em / 5em;
    border: 1px solid #AAA;
    flex-flow: row flex-start;
    justify-content: space-around;
    padding-top: 0.7em;
}

.searchbox {
    height: 1.6em;
    width: 30em;
    border: none;
    font-size: 16px;
}

.searchbox:focus {
    outline: none;
}

.magnifying {
    width: 1em;
    margin-top: -0.5em
}

.voice-icon {
    width: 1.5em;
    margin-top: -0.5em;
}

.search-panal {
    display: flex;
    justify-content: center;
    padding-top: 3em;
}

.search-btn {    
    font-size: 0.9em;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    background-color: #F8F9FA;
}